<h1>Please sign in:</h1>

<%= form_for :user, url: '/sessions' do |f| %>
<div class="field" >
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>
</div>
<div class="field" >
  <%= f.label :password %>
  <%= f.password_field :password %><br><br>
</div>
	<%= f.submit "Sign In" %>
<% end %>

<h2>Or sign in with Facebook above</h2>
