<h3><%= t(".title", name: budget.name) %></h3>
<table>
  <caption><%= t(".expenses") %></caption>
  <thead>
    <tr>
      <th>
        <%= t("expenses.defaults.name") %>
      </th>
      <th>
        <%= t("expenses.defaults.bill_estimate") %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr id="expense_<%= expense.id %>">
        <td>
          <%= expense.name %>
        </td>
        <td>
          <%= number_to_currency(expense.bill_estimate) %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        <%= t(".expenses_total") %>
      </td>
      <td>
        <%= number_to_currency(@expenses_total) %>
      </td>
    </tr>
  </tbody>
</table>

</div>
