<h3><%= t(".title", name: budget.name) %></h3>
<table>
  <caption><%= t(".expenses") %></caption>
  <thead>
    <tr>
      <th>
        <%= t("expenses.defaults.name") %>
      </th>
      <th>
        <%= t("expenses.defaults.bill_estimate") %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr id="expense_<%= expense.id %>">
        <td>
          <%= expense.name %>
        </td>
        <td>
          <%= expense.bill_estimate %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        <%= t(".expenses_total") %>
      </td>
      <td>
        <%= @expenses.map { |expense| expense.bill_estimate }.sum %>
      </td>
    </tr>
  </tbody>
</table>

</div>
