<h1><%= t(".title", name: user.name) %></h1>
<%= simple_form_for user do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.submit %>
<% end %>

<%= link_to t(".delete"), user, method: :delete %>
