<div class="box">
  <div class="form">
    <h3><%= t(".title") %></h3>
    <%= simple_form_for current_user, url: users_path do |f| %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.submit class: "button" %>
    <% end %>
  <div>
    <div class="button">
      <%= link_to t(".delete"), users_path, method: :delete %>
    </div>
  </div>
