<h1><%= t(".title") %></h1>
<%= simple_form_for @user do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <% if current_user&.admin? %>
    <%= f.input :admin %>
  <% end %>
  <%= f.submit %>
<% end %>
