<%= simple_form_for user, url: url do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :email_confirmation %>
  <%= f.input :password %>
  <%= f.input :admin, as: :radio_buttons %>
  <div class="submit">
    <%= f.submit %>
  </div>
<% end %>
