<h1><%= t(".title") %></h1>
<% @users.each do |user| %>
  <ul id="user_<%= user.id %>">
    <li>User Name: <%= user.name %></li>
    <li>User Email: <%= user.email %></li>
    <li>Admin Status: <%= user.admin? %></li>
      <%= link_to t(".links.delete"), admin_user_path(user), method: :delete %>
      | <%= link_to t(".links.edit"), edit_admin_user_path(user) %>
  </ul>
<% end %>
