<p><%= t("expenses.defaults.name") %>: <%= expense.name %></p>
<p><%= t("expenses.defaults.due_date") %>: <%= l(expense.due_date, format: :default) %></p>
<p><%= t("expenses.defaults.frequency") %>: <%= expense.frequency %></p>
<p><%= t("expenses.defaults.bill_estimate") %>: <%= number_to_currency(expense.bill_estimate) %></p>
<p><%= t("expenses.defaults.budget") %>: <%= expense.budget.name %></p>
<p>
  <%= link_to t(".delete"), expense.name, method: :delete %>
</P>
<p>  
  <%= link_to t(".update"), expense.name %>
</p>
