<h1><%= t(".title") %></h1>
<ul>
  <li><%= t("expenses.defaults.name") %>: <%= expense.name %></li>
  <li><%= t("expenses.defaults.due_date") %>: <%= l expense.due_date, format: :default %></li>
  <li><%= t("expenses.defaults.frequency") %>: <%= expense.frequency %></li>
  <li><%= t("expenses.defaults.bill_estimate") %>: <%= number_to_currency(expense.bill_estimate) %></li>
  <li><%= t("expenses.defaults.budget") %>: <%= @budget.name %></li>
</ul>
