<nav class="navbar">
  <ul class="menu">
  <% if current_user %>
    <% if current_user.admin? %>
      <li><%= link_to t("nav.admin") %>
        <ul>
          <li><%= link_to t("nav.user_index"), admin_users_path %><li>
          <li><%= link_to t("nav.create_user"), new_admin_user_path %></li>
        </ul>
      </li>
    <% end %>
    <li><%= link_to t("nav.profile") %>
      <ul>
        <li><%= link_to t("nav.profile_page"), users_path(current_user) %></li>
        <li>
          <%= link_to t("nav.edit_profile"), edit_users_path(current_user) %>
        </li>
      </ul>
    </li>
    <li><%= link_to t("nav.budget") %>
      <ul>
        <li><%= link_to t("nav.new_budget"), new_budgets_path %></li>
        <li><%= link_to t("nav.budget_page"), budgets_path %></li>
        <li><%= link_to t("nav.edit_budget"), edit_budgets_path %></li>
      </ul>
    </li>
    <li><%= link_to t("nav.signout"), session_path(current_user), method: :delete %></li>
  <% else %>
    <li><%= link_to t("nav.signup"), new_users_path %></li>
    <li><%= link_to t("nav.signin"), new_session_path %></li>
  <% end %>
  </ul>
</nav>
