<nav>
	<h3><%= link_to "Home", root_path %> |
  <%= link_to "Sign up", new_user_path %> |
	<%= link_to "Sign in", new_session_path %> |
  <%= link_to "Sign out", '/sessions/destroy', :method => :delete %> |
	<%= link_to "Access with Facebook", '/auth/facebook' %></h3>
</nav>
